.error {
	display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 1);
}

.error-image {
	background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../image/error/error_img.png);
    position: relative;
    width: 80%;
    height: 80%;
    background-position:center center;
}
