.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../image/intro/bg_intro.jpg");
	background-position: center;
}

/* @media screen and (min-width: 751px) {
	.wrapper {
		margin-top: -300px; 
		height: 100%;
		background-size: cover;
	}
}

} */

.mask {
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	background-color: black;
	opacity: 0.5;
	filter: Alpha(opacity = 50);
	display:none;
}

.mask.on {
	display:flex;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.head .icon-help {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/intro/btn_intro_help.png");
}

.head .icon-sound{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/intro/btn_intro_sound_off.png");
}

.head .icon-sound.on { background-image: url("../image/intro/btn_intro_sound_on.png");}

.title {
	margin-top: -20;
	height: 160px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../image/intro/icon_intro_title.png");
}

.help-board {
	display: none;
	z-index: 3;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	justify-content: center;
	align-items: center;
}

.help-board.on {
	display: flex;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper img {
	width:100%;
	height:100%;
}

.swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
#cancel {
	cursor: pointer;
	z-index: 999;
	position: absolute;
	top: 0px;
	margin-top:5px;
	width: 30px;
	height: 30px;
	right: 0;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 15px;
	padding-bottom: 50px;
}

.footer .btn {
	border-radius: 10px;
	width : 200px;
	height: 60px;
	margin: 5px;
}

.footer .btn.btn-start {
	background-size: contain;
	background-image: url("../image/intro/btn_intro_start.png");
	background-repeat: no-repeat;
}

.footer .btn.btn-send-to {
	background: red;
}