.wrapper {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../image/play/bg_play.jpg");
}

/** ============= Foreground =============== **/
.wrap-fg {
	display: none;
	z-index: 300;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}

.wrap-fg.on{
	display: block;
}

.wrap-gameover {
	display: flex;
	z-index: 400;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transform : scale(0);
	-webkit-transition: transform 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	transition: transform 0.2s;
	transition-timing-function: ease-in-out;
}

.wrap-gameover.on {
	transform : scale(1);
}

.gameover {
	width: 300px;
	height: 400px;
	margin-top : -60px;
	margin-bottom : -60px;
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/bg_play_gameover.png");
}

.gameover .gameover-time{
	font-size: 1.7rem;
	font-weight: bold;
	margin-top: 170px;
}

.gameover-menus{
	width: 230px;
	height: 60px;
	margin-top : 10px;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameover-menus .menu{
	flex : 1;
	height : 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.gameover-menus .menu.btn-restart{ background-image: url("../image/play/btn_play_gameover_restart.png"); }
.gameover-menus .menu.btn-exit{ background-image: url("../image/play/btn_play_gameover_exit.png"); }


.wrap-stageup{
	display : none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position : fixed;
	z-index : 100;
	justify-content: center;
	align-items: center; 
}

.wrap-stageup.on{
	display: flex;
}

.wrap-stageup .value{
	display : none;
	width: 200px;
	height : 200px;
	background-repeat: no-repeat;
	background-size: contain;
}

.wrap-stageup .value.on{
	display: block;
}

.stage-background {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position : fixed;
	z-index : 50;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../image/play/bg_play_stageup.png");
	opacity: 0;
 
}

.wrap-stageup .value.stage1{ background-image: url("../image/play/icon_play_stage1.png"); z-index : 100;}
.wrap-stageup .value.stage2 { background-image: url("../image/play/icon_play_stage2.png"); z-index : 100;}
.wrap-stageup .value.stage3 { background-image: url("../image/play/icon_play_stage3.png"); z-index : 100;}
.wrap-stageup .value.stage4 { background-image: url("../image/play/icon_play_stage4.png"); z-index : 100;}

.wrap-pause {
	display: none;
	z-index: 400;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	/* transform : scale(0);
	-webkit-transition: transform 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	transition: transform 0.2s;
	transition-timing-function: ease-in-out; */
}

.wrap-pause.on{
	display: flex;
}

.wrap-pause .pause-title{
	width: 400px;
	height: 500px;
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_pause_title.png");
}

.pause-menus {
	display:  flex;
	margin-top : -130px;
}
.pause-menus .menu{
	width : 70px;
	height : 70px;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 5px;
}

.pause-menus .menu.btn-regame{ background-image: url("../image/play/btn_play_pause_start.png"); }
.pause-menus .menu.btn-restart{ background-image: url("../image/play/btn_play_pause_restart.png"); }
.pause-menus .menu.btn-home{ background-image: url("../image/play/btn_play_pause_home.png"); }


/** ========== Header ================= **/

.header {
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../image/play/bg_play_header.png");
	position: relative;
}

.info-board-t{
	display: flex;
	margin-top: 12px;
}

.progress {
	margin-left : 15px;
	position : relative;
	width : 220px;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress.png");
}

.progress .progress-bar {
	position : absolute;
	width : 100%;
	height : 50px;
	overflow: hidden;
}

.progress .progress-bar .crop-progress-bar{
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progressbar.png");
}

.progress .progress-marking{
	position : absolute;
	width : 100%;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress_marking.png");
}

.progress .progress-apple{
	position : absolute;
	width : 100%;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress_fg.png");
}

.info.wrap-coin{
	position: relative;
	width : 110px;
	height: 40px;
	margin-left : 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_header_coin.png");
	
}

.info.wrap-coin .value{
    position: absolute;
    width : 50px;
    left: 10px;
    top: 13px;
    text-align : center;
    font-size: 13;
    color: #FFF;
}

.btn-pause{
	margin-right : 7px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/btn_play_pause.png");
}


.info-board-c{
	margin-top : 3px;
	display : flex;
	justify-content:space-between;
	z-index: 10;
}

.info-board-c .info.stage, .info-board-c .info.empty{
	margin: 0px 15px;
	width : 40px;
	height: 40px;
}

.info-board-c .info.stage .value{
	position
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.info-board-c .info.stage .value.stage1.on{background-image: url("../image/play/icon_play_header_stage1.png");}
.info-board-c .info.stage .value.stage2.on{background-image: url("../image/play/icon_play_header_stage2.png");}
.info-board-c .info.stage .value.stage3.on{background-image: url("../image/play/icon_play_header_stage3.png");}
.info-board-c .info.stage .value.stage4.on{background-image: url("../image/play/icon_play_header_stage4.png");}

.info-board-c .info.time {
	width : 120px;
	font-size: 2.1rem;
	color : #FFF;
	text-align: center;
	z-index: 1;
}


.move-friends {
	bottom: 1px;
	position: absolute;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_header_friend.png");
}


/** ========= Play Ground ======== **/
.wrap-play-ground{
	flex: 1;
	position: relative;
}

.play-ground {
	position: absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	
	overflow: hidden;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/bg_play_playground.png");
}

.combo-message {
	width: 200px;
	height: 72px;
	position: absolute;
	display: none;
}

.combo-message.on {
	display: block;
}

.combo-message .value{
	display : none;
	width : 100%;
	height : 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.combo-message .value.on{
	display: block;
}

.combo-message .value.combo1{ background-image: url("../image/play/icon_play_combo1.png"); }
.combo-message .value.combo2{ background-image: url("../image/play/icon_play_combo2.png"); }
.combo-message .value.combo3{ background-image: url("../image/play/icon_play_combo3.png"); }
.combo-message .value.combo4{ background-image: url("../image/play/icon_play_combo4.png"); }
.combo-message .value.combo5{ background-image: url("../image/play/icon_play_combo5.png"); }
.combo-message .value.combo6{ background-image: url("../image/play/icon_play_combo6.png"); }
.combo-message .value.combo7{ background-image: url("../image/play/icon_play_combo7.png"); }

.target {
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0);
	transform-origin: 50% 50%;
}

.target .target-icon {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.target.normal .target-icon {
	background-image: url("../image/play/icon_play_target.png");
}

.target.removed .target-icon {
	background-image: url("../image/sample_target_removed.png");
}

.target.warning .target-icon {
	background-image: url("../image/sample_target_warning.png");
}

.target.gold .target-icon {
	background-image: url("../image/sample_target_gold.png");
}

.attacker {
	position: absolute;
	z-index: 4;
	display: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_attacker.png");
}

.attacker.left{
	 transform: rotate(10deg);
}

.attacker.right{
	transform: rotate(-10deg);
}

.attacker.on {
	display: flex;
}

.lime_item_area {
	display: none;
	position: absolute;
	background: pink;
}

.lime_item_area.on {
	display: flex;
}

.effect{
	position: absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;	
	display: none;
	z-index: 5;
}

.effect.on{
	display: block;
}

.effect.spray {
	-webkit-animation: fadeInFromNone 2s ease-out;
	background-repeat: no-repeat;
	background-image: url("../image/sample_spray_effect.png");
}

@-webkit-keyframes fadeInFromNone { 
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display :block;
		opacity : 0;
	}
	
	100% {
		display : block;
		opacity : 1;
	}
}


.wrap-item{
	position : absolute;
	bottom : 0;
	left : 0;
	right : 0;
	z-index : 2;
	height : 100px;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/bg_play_footer.png");
	background-position: center bottom;	
}

.itembar {
	display: flex;
	justify-content :flex-end;
	align-items : baseline; 
	position : absolute;
	bottom:  5px;
	left : 0;
	right : 0;
}

.itembar .icon-basket-occupy{
	height: 60px;
	width: 170px;
}

.itembar-item {
	flex-flow: column nowrap;
	padding: 10px;
	margin-right : 10px;
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	background-size: contain;
}

.itembar-item.lime-item { 	background-image: url("../image/play/btn_play_lime_off.png"); }
.itembar-item.spray-item { 	background-image: url("../image/play/btn_play_spray_off.png"); }
.itembar-item.portion-item { 	background-image: url("../image/play/btn_play_potion_off.png"); }

.itembar-item.lime-item.on { 	background-image: url("../image/play/btn_play_lime_on.png"); }
.itembar-item.spray-item.on { 	background-image: url("../image/play/btn_play_spray_on.png"); }
.itembar-item.portion-item.on { 	background-image: url("../image/play/btn_play_potion_on.png"); }


.icon-basket{
	position : fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_basket100.png");
	z-index: 10;
	left : 10px;
	bottom : 5px;
	pointer-events : none;
}

.icon-basket .value{
	position :absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
}

.icon-basket .value.on{
	display: block;
}

.itembar .icon-basket .value.status100	{ background-image: url("../image/play/icon_play_basket100.png");}
.itembar .icon-basket .value.status50	{ background-image: url("../image/play/icon_play_basket100.png");}
.itembar .icon-basket .value.status0	{ background-image: url("../image/play/icon_play_basket100.png");}
