.play{
	position : absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	opacity : 0;
	z-index : 2;
	pointer-events : none;

	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../image/play/bg_play.jpg");
}

.play.on {
	opacity: 1;
	pointer-events : all;
}

/** ============= Foreground =============== **/
.wrap-fg {
	opacity : 0;
	z-index: 300;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	pointer-events : none;
}

.wrap-fg.on{
	opacity: 1;
	pointer-events : all;
}

.wrap-gameover {
	display: flex;
	z-index: 400;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transform : scale(0);
}

.wrap-gameover.on {
	-webkit-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out; 
	transform : scale(1);
}

.wrap-gameover .btn-restart-mortion{
	position: fixed;
	width : 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_target_normal_live.png");
    transform: rotate(30deg);
}

.gameover {
	width: 400px;
	height: 500px;
	margin-top : -120px;
	margin-bottom : -50px;
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/bg_play_gameover.png");
}

.gameover .gameover-time{
	font-size: 50px;
	font-weight: bold;
	margin-top: 210px;
	color : #554536;
	letter-spacing: -2px;
}

.gameover-menus{
	width: 280px;
	height: 80px;
	margin-top : 10px;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameover-menus .menu{
	flex : 1;
	height : 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.gameover-menus .menu.btn-restart{ background-image: url("../image/play/btn_play_gameover_restart.png"); }
.gameover-menus .menu.btn-exit{ background-image: url("../image/play/btn_play_gameover_exit.png"); }


.wrap-stageup{
	display : flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position : absolute;
	z-index : 100;
	justify-content: center;
	align-items: center; 
	opacity: 0;
	pointer-events : none;
}

.wrap-stageup.on{
	opacity: 1;
	pointer-events : all;
	
}

.wrap-stageup .value{
	position : absolute;
	display : block;
	width: 200px;
	height : 200px;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transform : scale(2);
	transition : transform 0.2s ease-out;
	z-index : 11;
}

.wrap-stageup .value.on{
	opacity: 1;
	transform: scale(1);
}

.wrap-stageup .value.stage1	{ background-image: url("../image/play/icon_play_stage1.png");}
.wrap-stageup .value.stage2 { background-image: url("../image/play/icon_play_stage2.png");}
.wrap-stageup .value.stage3 { background-image: url("../image/play/icon_play_stage3.png");}
.wrap-stageup .value.stage4 { background-image: url("../image/play/icon_play_stage4.png");}

.wrap-stageup .bg-stage{
	position : absolute;
	display : block;
	width : 150vmax;
	height : 150vmax;
	background-repeat: no-repeat;
	background-size: cover;
	background-position : center;
	background-image: url("../image/play/bg_play_stageup.png");
	transform : rotate(0deg);
	transition : transform 0.7s ease-out;
}

.wrap-stageup .bg-stage.on{
	transform : rotate(180deg); 
}

.wrap-pause {
	opacity : 0;
	display : flex;
	z-index: 400;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	pointer-events : none;
}

.wrap-pause.on{
	opacity : 1;
	pointer-events : all;
}

.wrap-pause .pause-title{
	width: 400px;
	height: 500px;
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_pause_title.png");
}

.pause-menus {
	display:  flex;
	margin-top : -130px;
}
.pause-menus .menu{
	width : 70px;
	height : 70px;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 5px;
}

.pause-menus .menu.btn-regame{ background-image: url("../image/play/btn_play_pause_start.png"); }
.pause-menus .menu.btn-restart{ background-image: url("../image/play/btn_play_pause_restart.png"); }
.pause-menus .menu.btn-home{ background-image: url("../image/play/btn_play_pause_home.png"); }


/** ========== Header ================= **/

.header {
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../image/play/bg_play_header.png");
	position: relative;
}

.info-board-t{
	display: flex;
	margin-top: 12px;
}

.progress {
	margin-left : 15px;
	position : relative;
	width : 220px;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress.png");
}

.progress .progress-bar {
	position : absolute;
	width : 100%;
	height : 50px;
	overflow: hidden;
}

.progress .progress-bar .crop-progress-bar{
	position : absolute;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progressbar.png");
	z-index: 1;
}

.progress .progress-bar .crop-progress-bar-overlay{
	position : absolute;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress_portion_overalay.png");
	z-index: 2;
	opacity: 0;
	transition : opacity 0.8s ease-out;
}

.progress .progress-bar .crop-progress-bar-overlay.on{
	opacity: 1;
}

.progress .progress-marking{
	position : absolute;
	width : 100%;
	height : 50px;
	z-index : 3;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress_marking.png");
}

.progress .progress-apple{
	position : absolute;
	width : 100%;
	height : 50px;
	z-index : 3;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_progress_fg.png");
}

.progress .progress-portion{
	position : absolute;
	width : 100%;
	height : 50px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 4;
	opacity : 0;
	transform : scale(0.95);
	transition : opacity 0.2s ease-out , transform 0.1s ease-out;
}

.progress .progress-portion.on{
	opacity : 1;
	transform : scale(1);
}

.progress .progress-portion.effect1{ background-image: url("../image/play/icon_play_progress_portion_effect1.png");}
.progress .progress-portion.effect2{ background-image: url("../image/play/icon_play_progress_portion_effect2.png");}
.progress .progress-portion.effect3{ background-image: url("../image/play/icon_play_progress_portion_effect3.png");}

.info.wrap-coin{
	position: relative;
	width : 110px;
	height: 40px;
	margin-left : 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_header_coin.png");
	
}

.info.wrap-coin .value{
    position: absolute;
    width : 50px;
    left: 10px;
    top: 13px;
    text-align : center;
    font-size: 13;
    color: #FFF;
}

.btn-pause{
	margin-right : 7px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/btn_play_pause.png");
}


.info-board-c{
	display : flex;
	justify-content:space-between;
	z-index: 10;
}

.info-board-c .info.stage, .info-board-c .info.empty{
	margin: 0px 15px;
	width : 40px;
	height: 40px;
}

.info-board-c .info.stage .value{
	position
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.info-board-c .info.stage .value.stage1.on{background-image: url("../image/play/icon_play_header_stage1.png");}
.info-board-c .info.stage .value.stage2.on{background-image: url("../image/play/icon_play_header_stage2.png");}
.info-board-c .info.stage .value.stage3.on{background-image: url("../image/play/icon_play_header_stage3.png");}
.info-board-c .info.stage .value.stage4.on{background-image: url("../image/play/icon_play_header_stage4.png");}

.info-board-c .info.time {
	width : 120px;
	font-size: 2.1rem;
	color : #FFF;
	text-align: center;
	z-index: 1;
}


.move-friends {
	bottom: 0;
	position: absolute;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_header_friend.png");
}


/** ========= Play Ground ======== **/
.wrap-play-ground{
	flex: 1;
	position: relative;
}

.play-ground {
	position: absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	
	overflow: hidden;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/bg_play_playground.png");
}

.combo-message {
	width: 200px;
	height: 72px;
	z-index : 40;
	position: absolute;
	display: none;
}

.combo-message.on {
	display: block;
}

.combo-message .value{
	display : none;
	width : 100%;
	height : 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.combo-message .value.on{
	display: block;
}

.combo-message .value.combo1{ background-image: url("../image/play/icon_play_combo1.png"); }
.combo-message .value.combo2{ background-image: url("../image/play/icon_play_combo2.png"); }
.combo-message .value.combo3{ background-image: url("../image/play/icon_play_combo3.png"); }
.combo-message .value.combo4{ background-image: url("../image/play/icon_play_combo4.png"); }
.combo-message .value.combo5{ background-image: url("../image/play/icon_play_combo5.png"); }
.combo-message .value.combo6{ background-image: url("../image/play/icon_play_combo6.png"); }
.combo-message .value.combo7{ background-image: url("../image/play/icon_play_combo7.png"); }

.target {
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0);
	transform-origin: 50% 50%;
}

.target .target-icon-bg{
	opacity : 0;
	position: absolute;
	left : 0;
	right : 0;
	bottom : 0;
	top : 0;
	z-index : 11;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_target_gold_died_bg.png");
}
.target .target-icon {
	position: absolute;
	left : 0;
	right : 0;
	bottom : 0;
	top : 0;
	z-index : 12;
	background-repeat: no-repeat;
	background-size: contain;
}

.target.normal 	.target-icon { background-image: url("../image/play/icon_play_target_normal_live.gif"); }
.target.warning .target-icon { background-image: url("../image/play/icon_play_target_warning_live.gif");  }
.target.gold 	.target-icon { background-image: url("../image/play/icon_play_target_gold_live.png");  }

.target.normal.died 	.target-icon { background-image: url("../image/play/icon_play_target_normal_died.png"); }
.target.warning.died 	.target-icon { background-image: url("../image/play/icon_play_target_warning_died.png"); }
.target.gold.died 		.target-icon { /* GIF JS·Î ±¸Çö*/}
.target.gold.died 		.target-icon-bg{opacity:1 ;}

.attacker {
	position: absolute;
	z-index: 60;
	display: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/icon_play_attacker.png");
}

.attacker.left{
	 transform: rotate(10deg);
}

.attacker.right{
	transform: rotate(-10deg);
}

.attacker.on {
	display: flex;
}

.effect.lime {
	display: block;
	position: absolute;
	z-index: 20;
	background-repeat: no-repeat;
	background-size : contain;
	background-image: url("../image/play/icon_play_effect_lime.png");
	opacity: 0.7;
}

.effect.spray{
	position: absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	opacity : 0;	
	z-index: 50;
	transform : scale(1.2);
	background-repeat: no-repeat;
	background-size : cover;
	background-image: url("../image/play/icon_play_effect_spray.png");
	transition : opacity 0.3s ease-out;
	pointer-events : none;
}

.effect.spray.on{
	opacity: 1;
}

.wrap-item{
	position : absolute;
	bottom : 0;
	left : 0;
	right : 0;
	z-index : 2;
	height : 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../image/play/bg_play_footer.png");
	background-position: center bottom;	
}

.itembar {
	display: flex;
	justify-content :flex-end;
	align-items : baseline; 
	position : absolute;
	bottom:  0px;
	left : 0;
	right : 0;
}

.itembar .icon-basket-occupy{
	height : 1px;
	flex : 2.5;
	left : 0px;
}

.itembar-item {
	flex : 1;
	flex-flow: column nowrap;
	margin: 5px;
	margin-bottom : 12px;
	position: relative;
}

.itembar-item.lime-item 	{ margin-left : -20px; }
.itembar-item.spray-item 	{ margin-right : 10px;}

.itembar-item .icon{
	opacity : 0;
	position: absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.itembar-item .icon.on{
	opacity: 1;
}

.itembar-item.lime-item 	.icon.icon-off { background-image: url("../image/play/btn_play_lime_off.png");}
.itembar-item.portion-item 	.icon.icon-off { background-image: url("../image/play/btn_play_potion_off.png");}
.itembar-item.spray-item 	.icon.icon-off { background-image: url("../image/play/btn_play_spray_off.png");}
.itembar-item.lime-item 	.icon.icon-on { background-image: url("../image/play/btn_play_lime_on.png"); }
.itembar-item.portion-item 	.icon.icon-on { background-image: url("../image/play/btn_play_potion_on.png"); }
.itembar-item.spray-item 	.icon.icon-on { background-image: url("../image/play/btn_play_spray_on.png"); }


.icon-basket{
	position : absolute;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
	left : 0px;
	bottom : 3px;
	pointer-events : none;
}

.icon-basket .value{
	position: absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	opacity:  0;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-basket .value.status-100	{ z-index : 11; background-image: url("../image/play/icon_play_basket_100.png");}
.icon-basket .value.status-60	{ z-index : 12; background-image: url("../image/play/icon_play_basket_50.png");}
.icon-basket .value.status-30	{ z-index : 13; background-image: url("../image/play/icon_play_basket_30.png");}
.icon-basket .value.status-died	{ z-index : 14; background-image: url("../image/play/icon_play_basket_died.png");}

.icon-basket .value.status-100.on 	{ opacity: 1;}
.icon-basket .value.status-60.on 	{ opacity: 1;}
.icon-basket .value.status-30.on 	{ opacity: 1;}
.icon-basket .value.status-died.on 	{ opacity: 0.5;}

