@font-face {
  font-family: 'MBK_CoproA';
  font-style: normal;
  src:    url(../../font/MBK/MBKCorpoA.woff) format('woff')
}

@font-face {
  font-family: 'MBKCorporateACon';
  font-style: normal;
  src:    url(../../font/MBK/MBKCorporateACon.woff) format('woff')
}

@font-face {
  font-family: 'MBKCorporateS-Light';
  font-style: normal;
  src:    url(../../font/MBK/MBKCorporateS-Light.woff) format('woff')
}

@font-face {
  font-family: 'MBKCorpoS';
  font-style: normal;
  src:    url(../../font/MBK/MBKCorpoS.woff) format('woff')
}

